# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Streamlit logs & cache
.streamlit/secrets.toml

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test scripts
test_pipeline.py
